:root {
	font-family: monospace;
	font-weight: 400;
	font-size: 18px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #131313;
	background: #fafafa;
}

html, body, div, table {
	margin: 0;
	padding: 0;
}

body {
	max-height: 99.9vh;
	display: grid;
	background-color: #f0f0f0;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas:
		"a b"
		"c d";
}

#game {
	grid-area: a;
	border-spacing: 0;
	border-right: 1px solid #aaa;
}
#game tr {
	height: 30px !important;
}
#game td {
	background-color: #f0fff0;
	min-width: 30px !important;
	text-align: center;
	font-weight: 900;
	cursor: pointer;
}
#game td.selected {
	background-color: #aea !important;
	transition: background 0.5s;
}

#score {
	grid-area: b;
	padding: 0 0 3px 3px;
	background-color: #ffffee;
}
#score h3, #help h3 {
	margin: 0 0 5px 0;
}

#logs {
	grid-area: c;
	overflow-y: scroll;
	padding: 0 0 3px 3px;
	border-top: 1px solid #aaa;
	border-right: 1px solid #aaa;
}
#help {
	grid-area: d;
	position: relative;
	padding: 0 0 3px 3px;
	border-top: 1px solid #aaa;
}
#copyright {
	position: absolute;
	bottom: 5px;
}

#game td.wall,
#game td.stones,
#game td.chest {
	text-shadow: 1px 2px 5px rgba(120, 200, 120, 0.75);
}
#game td.player {
	text-shadow: 1px 2px 7px rgba(120, 120, 200, 0.75);
}
#game td.butterfly {
	text-shadow: 1px 2px 7px rgba(120, 200, 120, 0.5);
}
#game td.grass {
	color: #77d051;
}
#game td.flower {
	font-size: 20px;
}
#game td.red.flower {
	color: #ffa6c9;
}
#game td.blue.flower {
	color: #64b5f6;
}
#game td.yellow.flower {
	color: #ffd300;
}
#game td.wall {
	color: #545453;
	font-size: 20px;
}
#game td.chest {
	color: #401801;
}
#game td.silver.butterfly {
	color: #88898a;
}
#game td.blue.butterfly {
	color: #0066ff;
}
#game td.green.butterfly {
	color: #228b22;
}
#game td.red.butterfly {
	color: #a91101;
}
#game td.elusive.butterfly {
	color: #ffc901;
	text-shadow: 1px 2px 7px rgba(200, 200, 120, 0.44);
	animation: change 1s infinite alternate linear;
}
@keyframes change {
  to {
    color: #ff6c2f;
  }
}
